.best-companies {
  margin-top: 30px;
  padding-bottom: 34px;
  height: min-content;
  background-color: #ffffff;
  border-radius: 20px;
}

.best-companies h2 {
  margin: 0;
  margin-top: 9px;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

.best-companies__list {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 41px;
  margin: 0;
  padding-left: 65px;
}

.best-companies__name {
  position: relative;
  font-size: 14px;
  line-height: 17px;

  &::before {
    position: absolute;
    content: url("../img/png/build-complect-service-desktop@1x.png");
    top: -12px;
    left: -54px;
  }
}

.best-companies__score {
  position: relative;
  z-index: 0;
  margin: 0;
  margin-left: 5px;
  font-size: 14px;
  line-height: 16px;
  
  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    top: -12px;
    left: -11px;
    width: 100%;
    height: 42px;
    background-color: #fafafa;
  }
}

.best-companies__score span {
  font-weight: 700;
  color: #4496f6;
}
