.btn {
  padding: 9px 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #4496f6;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: #347db8;
  }
}
