.burger {
  display: none;
}


@media (max-width: $tablet-width) {
  .burger {
    position: absolute;
    top: 7px;
    left: -15px;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--catalog,
    &--card {
      top: -5px;
    }

    &--catalog ~ div,
    &--card ~ div {
      margin-top: -12px;
    }
  }
}

@media (max-width: $mobile-width) {
  .burger {
    top: 0;
    right: -16px;

    &--catalog ~ div,
    &--card ~ div {
      margin-top: -7px;
    }
  }
}
