.calculator-form {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 37px;
  padding-bottom: 35px;
  padding-left: 50px;
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
}

.calculator-form__submenu {
  &--right {
    margin-left: -30px;
  }

  &--left {
    grid-column: 1 / 2;
  }
}

.calculator-form h1 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.calculator-form label {
  position: relative;
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #989898;
}

.calculator-form span {
  color: #d22e2e;
}

.calculator-form select,
.calculator-form input {
  margin: 0;
  margin-bottom: 32px;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 13px;
  min-width: 318px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #666666;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  appearance: textfield;

  &:focus {
    box-shadow: 0 0 4px 1px #347db8;
  }
}

.calculator-form select {
  appearance: none;
  background-image: url("../img/svg/icon-peek.svg");
  background-repeat: no-repeat;
  background-position: 97% 53%;
}

.calculator-form .calculator-form__item--space-type,
.calculator-form .calculator-form__item--repairs-area,
.calculator-form .calculator-form__item--walls-perimeter,
.calculator-form .calculator-form__item--bathroom-area,
.calculator-form.calculator-form__item--input-door {
  font-size: 18px;
}

.calculator-form .calculator-form__item--input-door {
  background-image: none;
}

.calculator-form .calculator-form__item--electricity,
.calculator-form .calculator-form__item--repairs-type,
.calculator-form .calculator-form__item--warm-floor,
.calculator-form .calculator-form__item--walls-perimeter,
.calculator-form .calculator-form__item--roof {
  margin-bottom: 22px;
}

.calculator-form .calculator-form__item--bathroom-area {
  min-width: auto;
  width: 50%;
}

.calculator-form__item--input-door + label {
  position: relative;
  margin-top: 96px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 26px;
    left: 0;
    width: 60px;
    height: 32px;
    background: #f3f4f8;
    border-radius: 20px;
    transition: 0.2s;
  }

  &::after {
    position: absolute;
    content: "";
    top: 28px;
    left: 30px;
    width: 27px;
    height: 27px;
    background: #ffffff;
    border-radius: 50%;
    transition: 0.2s;
  }
}

.calculator-form__item--input-door:checked + label {
  &::before {
    background-color: #347db8;
    transition: 0.2s;
  }

  &::after {
    transform: translateX(-27px);
    transition: 0.2s;
  }
}

.calculator-form__item--input-door:focus + label {
  &::before {
    box-shadow: 0 0 4px 1px #347db8;
  }
}

.calculator-form__item {
  &--extra-margin + label {
    margin-top: 199px;
  }
}

.calculator-form__item--input-door ~ p {
  margin: 0;
  margin-top: 12px;
  margin-left: 72px;
}
