.container-edge {
  margin: 0 auto;
  padding-left: 16.8%;
  padding-right: 16.3%;
}

@media (max-width: $tablet-width) {
  .container-edge {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: $mobile-width) {
  .container-edge {
    padding-left: 15px;
    padding-right: 15px;
  }
}
