.page-header {
  position: relative;
  margin-top: 8px;
  margin-bottom: 9px;
}

@media (max-width: $tablet-width) {
  .page-header {
    margin-bottom: 23px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    margin-top: 20px;
    margin-bottom: 13px;
  }
}
